.json2 {
    white-space: pre;
}

.cellformat-right {
    border-right: solid 2px black;
}

.cellformat-left-header {
    border-top: solid 2px blue;

}

.cellformat-right-header {
    border-top: solid 2px red;
}

body {
    background: whitesmoke;
}

.centeredInTable {
    text-align: center;
}